{% load staticfiles %}
<!DOCTYPE html>
<html>
	<meta name="test" content="val">
	<title>Ilya Belov's blog'</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static "css/blog.css" %}">
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</html>
<body>
	<div>
		<div class="page-header">
			<h1 id="page_of_blog">This is a page of blog. Тестовая страница блога</h1>
			<h2>Link to the <a href="http://www.apple.com">Apple</a></h2>
		</div>
	</div>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>